# bot_adapter 默认配置文件

# 本地grpc 监听设置
grpc_config:
  addr: 0.0.0.0:8001                       # grpc服务监听地址
  max_connection_age_grace: 120            # 单位秒
  max_connection_idle: 60                  # 单位秒
  timeout: 60                              # 单位秒
# cqhttp的 http接入方式的配置
http_config:
  local_host: 0.0.0.0:5800                  # 本地监听地址，用于和go-cqhttp的post接收
  secret: ""                                # go-cqhttp post地址对应的secret参数
  server_addr: http://go-cqhttp:5700        # go-cqhttp 的http监控地址，用于主动调api
  token: ""                                 # go-cqhttp 的token参数。
# 扩展配置 （这里demo 配置了两个app样例，根据实际情况自行增加）
plugins:
  # 这是一个数组，第一个扩展app配置
  - app_id: "go-cqhttp"                                       # 第一个app的appid。在这里定义，不和其他app的重复，必须和扩展app侧配置的参数一致
    app_secret: "HGJKLHSADJKLG"                                 # 第一个app的appsecret。在这里定义，不和其他app的重复，必须和扩展app侧配置的参数一致
    encrypt_key: "krjtklejwkj"                            # 推送事件的加密key。
    plugin_name: "GO-CQHTTP"                              # 第一个扩展app的名称
    post_addr: ""                                         # 第一个扩展app接收推送的地址。如果app不需要接收推送，这里留空字符串
server_type: http                                         # cqhttp对接类型。目前仅支持http
permissions:
  - app_id: "go-cqhttp"                                       #  第一个app的权限配置
    is_admin: true                                        #  第一个app给分配最高权限
    is_only_cqhttp: false
    api_permissions: [ ]